.main {
  width: 100%;
  min-height: 90vh;
  max-height: max-content;
  margin-top: 60px;
  /* border: 1px solid black; */
}

.container {
  width: 95%;
  min-height: 90vh;
  max-height: max-content;
  /* border: 1px solid red; */
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .main {
    width: 70%;
    margin-left: 380px;
  }
}