@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@500&family=Playpen+Sans:wght@500&family=Poppins&family=Roboto&family=Signika+Negative&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

html,
body {
  font-size: .9rem;
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: rgba(1, 65, 255, 0.3); */
}

body {
  background-color: rgb(194, 190, 190);
    font-family: monospace;
}

/* rgb(95, 137, 243) */
/* #262626 */