

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(123deg, #2E99B0 0%, #2E99B0 40%, #FCD77F calc(40% + 1px), #FCD77F 60%, #FF2E4C calc(60% + 1px), #FF2E4C 75%, #1E1548 calc(75% + 1px), #1E1548 100%);;
}

.container {
  width: 100%;
  height: 90vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description {
  /* border: 1px solid blue; */
  width: 100%;
  height: 330px;
  padding: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.description_title {
  /* border: 1px solid blue; */
  text-align: center;
  width: 100%;
}

.description_title h1 {
  text-align: center;
  font-weight: 800;
  font-size: 2.4rem;
  text-shadow: 1px 5px 5px rgba(10, 10, 10, 0.5);
}

.description_title p {
  font-size: .8rem;
  font-style: italic;
}

.description_body {
  background-color: rgba(253, 249, 249, 0.5);
  backdrop-filter: blur(8px);
  color: rgb(36, 36, 36);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-weight: 550;
}

.footer {
  margin-top: -60px;
}

.footer p{
  font-size: .9rem;
  color: black;
  font-weight: 550;
  font-family: 'Playpen Sans', cursive;
}

@media screen and (min-width: 1024px) {
  .description {
    height: 230px;
    width: 60%;
    justify-content: space-around;
    gap: 0;
    /* border: 1px solid blue; */
  }
  .description_title h1 {
    font-size: 2.6rem;
  }
  .description_body {
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 10px;
  }
  .footer {
    margin-top: 0;
  }
}



