.main {
  border: 1px solid black;
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  background-color: rgb(63, 62, 62);
  color: white;
  min-height: 400px;
  max-height: max-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: .8rem;
}

.form {
  /* border: 1px solid crimson; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.email, .pw {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
}

.email input, .pw input {
  padding: 8px;
  /* border: 1px solid rgb(32, 159, 185); */
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.email input:focus, .pw input:focus {
  outline: 1px solid salmon;
  border: none
}

.title {
  text-align: center;
}

.title h1 {
  font-family: 'Playpen Sans', cursive;
}

.error {
  color: salmon;
  margin-top: 10px;
}

.btn_login {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  background-color: salmon;
  border: 1px solid black;
  color: white;
  transition: all .3s;
}

.btn_login:hover {
  background-color: rgb(244, 110, 95);
}

.bottom {
  width: 100%;
  /* border: 1px solid red; */
  margin-top: -10px;
  min-height: 70px;
  max-height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.opsi_login, .register {
  display: flex;
  gap: 5px;
  align-items: center;
}

.google {
  padding: 2px 5px;
  font-size: .9rem;
  cursor: pointer;
}

.register a {
  text-decoration: none;
  color: salmon;
}
