
/* Card */
.card {
  margin-top: 10px;
  width: 100%;
  height: 230px;
  border: 3px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(39, 38, 38);
  /* background-color: teal; */
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.hallo {
  width: 100%;
  height: max-content;
  margin-top: 10px;
  /* border: 1px solid white; */
}

.hallo h1 {
  color: salmon;
  font-size: 1.3rem;
}

.description {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.money {
  width: 60%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 2px; */
  align-items: center;
}

.money_user, .money_teks {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.money_teks p {
  font-size: .7rem;
  font-style: italic;
  margin-top: 5px;
}

.btn_repeat {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  cursor: pointer;
}

.pictures {
  width: 40%;
  height: 100%;
  /* border: 1px solid white; */
  overflow: hidden;
  object-fit: cover;
}

/* Riwayat */
.container {
  width: 100%;
  min-height: 350px;
  padding-top: 10px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5px;
  
}

.keterangan {
  width: max-content;
  height: max-content;
  padding: 5px 20px;
  background-color: rgb(39, 38, 38);
  color: white;
  border: 2px solid salmon;
  border-radius: 10px;
  font-size: .8rem;
  /* font-style: italic; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.teks_keterangan {
  display: flex;
  align-items: center;
  gap: 5px;
}

.teks_keterangan button {
  background-color: salmon;
  color: white;
  font-size: .8rem;
  border: none;
  padding: 0 10px;
  border-radius: 7px;
}

.teks_diurutkan {
  border: 1px solid rgb(95, 137, 243);
  padding: 2px 10px;
  border-radius: 7px;
}

.keterangan .btn {
  display: flex;
  gap: 10px;
}

.keterangan .btn button {
  background-color: rgb(95, 137, 243);
  color: white;
  font-size: .8rem;
  border: none;
  padding: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.keterangan .btn button:hover {
  background-color: rgb(64, 104, 206);
}


.s {
  color:  rgb(52, 210, 102);
}


@media screen and (min-width: 1024px) {
  /* card */
  .hallo p{
    font-size: 1.3rem;
  }

  .hallo h1 {
    font-size: 1.5rem;
  }


  .money_user h2 {
    font-size: 2rem;
  }

  .pictures {
    margin-top: -80px;
    height: max-content;
  }

  .pictures img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  /* Riwayat */

  .input {
    gap: 20px;
  }

  .input input {
    width: 50%;
    font-size: 1rem;
  }
}